
<!-- Header -->
<div class='header'>
  <!-- Logo -->
  <a class='logo' href='/'>
    <img alt='logo' src='public/logo.png'>
  </a>
  <!-- Navigation -->
  <ul class='menu'>
    <li>
      <a href='/'>Home</a>
    </li>
    <li class='loggedOut'>
      <a href='/account/create'>Signup</a>
    </li>
    <li class='loggedOut'>
      <a href='/account/create'>Login</a>
    </li>
    <li class='loggedIn'>
      <a href='/checks/all'>Dashboard</a>
    </li>
    <li class='loggedIn'>
      <a href='/account/edit'>Account Settings</a>
    </li>
    <li class='loggedIn'>
      <a href='#'>Logout</a>
    </li>
  </ul>
</div>

<!-- Page-Specific Content -->
